<!DOCTYPE html>
<html>
    <meta charset="utf-8" /> 
	<head>
		<title>Outside The 18</title>
	</head>
	<body class="has-navbar-fixed-top">
		<div id="root">
		</div>
        <%=htmlWebpackPlugin.files.webpackManifest%>
	</body>
</html>
