@import "~uikit/src/scss/variables.scss";
@import "~uikit/src/scss/mixins.scss";

@import "~uikit/src/scss/uikit.scss";

$background-color: $global-secondary-background !default;

html, body {
    margin: 0;
    height: 100%;
}

#root {
    padding: 0 0 0 0;
    height: 100%;
    background-color: $background-color
}


